DISCORD_CLIENT_ID=1482032015179255899
DISCORD_CLIENT_SECRET=Zwvf_FIxIIqFlel3WmV7lmTxwSs4OJDD
DISCORD_REDIRECT_URI=https://dynamo-panel.up.railway.app/auth/callback
DATABASE_URL=postgresql://...
JWT_SECRET=tu-secreto-aqui
NODE_ENV=production
